.bg-card {
  background: #ffc30b;
  height: 230px;
  border-radius: 12px;
  border: none;
}

.note-card {
  width: 250px;
  margin-left: 20px;

  .card-header {
    display: flex;
    justify-content: flex-end;
    padding: 0.55rem 1.25rem;

    button {
      background: transparent;
      border: none;

      #trash-note {
        width: 21px;
        height: 21px;
        color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
      }
    }
  }

  .note-title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    opacity: 0.8;
    color: black;
    letter-spacing: -0.4px;
  }

  .note-text {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    opacity: 0.6;
    color: black;
    letter-spacing: -0.2px;
  }
}
