%button {
  border-radius: 25px;
  padding: 7px 20px;
  font-weight: 500;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;

  &:focus {
    outline: none;
    transform: scale(1.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  }
}

%input {
  &:focus {
    outline: none;
    box-shadow: none;
  }

  border: none;
  border-bottom: 2px solid lightseagreen;
  border-radius: 0;
  padding: 14px 10px;
}

.note-form {
  width: 50%;
  margin: 3% auto;
  background: white;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 20px 16px 35px;

  #title {
    @extend %input;
    height: 50px;
  }

  #note-text {
    @extend %input;
  }

  .submit-button {
    @extend %button;
    background: lightseagreen;
    color: white;
  }

  .prev-button {
    @extend %button;
    border: 1px solid indianred;
    color: indianred;
    margin-right: 10px;
  }
}
